{% load static %}

<!DOCTYPE html>

<head>
  <title>{{object.name}} Recipe</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" class="header-image">
  <div class="topnav">
    <a href="#">About</a>
    <a href="/recipes/list">Recipes</a>
    <a href="/recipes/search">Search</a>
    <a href="{% url 'logout' %}">Log Out</a>
  </div>
  <h1 >Cozy Recipes</h1>
</header>

<body>
  <div class="recipe-detail-card">
    <h2>How to make {{object.name}}</h2>

    <b>Recipe Name: </b> {{object.name}} <br>
    <b>Ingredients: </b> {{object.ingredients}} <br>
    <b>Cooking Time: </b> {{object.cooking_time}} minutes <br>
    <b>Difficulty: </b> {{object.calculate_difficulty}} <br>
    <b>Rating: </b> {{object.rating}} <br><br>

    <img src="{{object.pic.url}}" class="recipe-detail-image"/>
  </div>
</body>

<footer>
  <p class="photo-attribution">All images from <a href='https://unsplash.com/'>Unsplash</a>.</p>
</footer>