{% load static %}

<!DOCTYPE html>

<head>
  <title>{{object.name}} Recipe</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" class="header-image">
  <h5 class="logout"><a href="{% url 'logout' %}">Log Out</a></h5>
  <h1 >Cozy Recipes</h1>
</header>

<body>
  <div class="recipe-detail-card">
    <h2>How to make {{object.name}}</h2>

    <b>Recipe Name: </b> {{object.name}} <br>
    <b>Ingredients: </b> {{object.ingredients}} <br>
    <b>Cooking Time: </b> {{object.cooking_time}} minutes <br>
    <b>Difficulty: </b> {{object.calculate_difficulty}} <br>
    <b>Rating: </b> {{object.rating}} <br><br>

    <img src="{{object.pic.url}}" class="recipe-detail-image"/>

    <h5><a href="/recipes/list">Return to view all recipes.</a></h5>
  </div>
</body>

<footer>
  <p class="photo-attribution">All images from <a href='https://unsplash.com/'>Unsplash</a>.</p>
</footer>