{% load static %}

<!DOCTYPE html>

<head>
  <title>Cozy Recipes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" class="header-image">
  <div class="topnav">
    <a href="/about/">About</a>
    <a class="active" href="/recipes/list">Recipes</a>
    <a href="/recipes/search">Search</a>
    <a href="{% url 'logout' %}">Log Out</a>
  </div>
  <h1>Cozy Recipes</h1>
</header>

<body>
  <p>Click on a recipe card below to view the recipe.</p>
  <div class="recipe-list-container" >
    {% for object in object_list %}
    <a href="{{object.get_absolute_url}}">
      <div class="recipe-card" >
        <img src="{{object.pic.url}}" class="recipe-image">
        <h3>{{object.name}}</h3>
      </div>   
    </a>
    {% endfor %} 
  </div>
</body>

<footer>
  <p class="photo-attribution">All images from <a href='https://unsplash.com/'>Unsplash</a>.</p>
</footer>
