{% load static %}

<!DOCTYPE html>

<head>
  <title>Cozy Recipes</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

    * {
      font-family: Poppins, sans-serif
    }
  </style>
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" width="100%" height="240px"
    style="object-fit:cover">
  <h5 style="text-align:center"><a href="{% url 'logout' %}">Log Out</a></h5>
  <h1 style="text-align:center">Cozy Recipes</h1>
</header>

<body>
  <p style="text-align:center">Click on a recipe card below to view the recipe.</p>
  <div style="display:grid; grid-template-columns: auto auto auto; padding:25px">
    {% for object in object_list %}
    <a href="{{object.get_absolute_url}}">
      <div style="padding:25px; border:2px solid; margin:25px; display:flex; flex-direction:column; align-items:center; justify-content:center; border-radius:20px;">
        <img src="{{object.pic.url}}" width="300px" style="border-radius:20px; border:1pt solid">
        <h3>{{object.name}}</h3>
      </div>   
    </a>
    {% endfor %} 
  </div>
</body>
