{% load static %}

<!DOCTYPE html>
<head>
  <title>Cozy Recipes</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/home.js" defer></script>
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" class="header-image"> 
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="#">About</a>
    <a href="{% url 'login' %}">Log In</a>
  </div>
  <h1>Cozy Recipes</h1>
</header>

<body>
  <p>Enter the app to<br>browse recipes and view details and<br> to search for recipes by name.
  
  <div>
    <h5><a href="{% url 'login' %}">Log in to view the recipes.</a></h5>
  </div>
</body>

<footer>
  <div class="website-counter-container">
    <div>Number of visits to this site:</div>
    <div class="website-counter"></div>
    <div id="reset">Reset</div>
  </div>
  <p class="photo-attribution">All images from <a href='https://unsplash.com/'>Unsplash</a>.</p>
</footer>