{% load static %}

<!DOCTYPE html>

<head>
  <title>Search Recipes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" class="header-image">
  <h5 class="logout"><a href="{% url 'logout' %}">Log Out</a></h5>
  <h1>Cozy Recipes</h1>
  <h2>Search for a Recipe</h2>
</header>

<body>
  <form action="" method="POST">
    {% csrf_token %} 
    {{form}}
    <button type="submit">Search</button>
  </form>

  <br>

  <div class="search-result">
    {% if recipes_df %} 
      {{recipes_df|safe}}
      <br>
      <img src="data:image/png;base64, {{chart|safe}}">
    {% else %} 
      <h3>No matching recipe(s) found.</h3>
    {% endif %}
  </div>

  <h5><a href="/recipes/list">Return to view all recipes.</a></h5>
</body>

<footer>
  <p class="photo-attribution">All images from <a href='https://unsplash.com/'>Unsplash</a>.</p>
</footer>