{% load static %}

<!DOCTYPE html>

<head>
  <title>Log in to View Recipes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<header>
  <img src="{% static 'recipes/images/kitchen.jpg' %}" alt="header-image" class="header-image">
  <div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="{% url 'login' %}">Log In</a>
    <a href="/about/">About</a>
  </div>
  <h1>Log In</h1>
</header>

{% if error_message %}
  {{error_message}}
{% endif %} 

<form action="" method="POST">
  {% csrf_token %} 
  {{form}}
  <button type="submit">Log In</button>
</form>

<footer>
  <p class="photo-attribution">All images from <a href='https://unsplash.com/'>Unsplash</a>.</p>
</footer>